{{!-- disqus 评论 --}}
<div id="disqus_thread" class="comment-container"><p>Comments is loading...</p></div>

{{!-- 多说评论 --}}
<div class="ds-thread comment-container" data-thread-key="{{post.id}}" data-title="{{post.title}}" data-url="{{post.url}}"><p>Comments is loading...</p></div>

<div class="load-comments">
    <button>Load Comments</button>
</div>
