<ul id="navigation">
    {{#foreach navigation}}
        <li class="nav{{#if current}} nav-current{{/if}}" role="presentation"><a href="{{url absolute="true"}}">{{label}}</a></li>
    {{/foreach}}
</ul>