<div id="toc"></div>

{{!-- 引入 支持文件 及 Tocify 插件 --}}
<script src="//lib.baomitu.com/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script type="text/javascript" src="{{asset "js/jquery.tocify.min.js"}}"></script>

{{!-- 配置及生成目录 --}}
<script>
    if (typeof show_toc == 'undefined') {
        var show_toc = true;
    }
    // Find out the top-level selector present.
    var toc_selectors = "h2,h3,h4,h5";
    if (!$('.single-post').has("h2").length) {
        var toc_selectors = "h3,h4,h5";
        if (!$('.single-post').has("h3").length) {
            var toc_selectors = "h4,h5";
            if (!$('.single-post').has("h4").length) {
                var toc_selectors = "h5";
            }
        }
    }
    if (show_toc) {
        $("#toc").tocify({
            selectors: toc_selectors,
            extendPage: false,
            highlightDefault: false
        });
    }
</script>