<div id="toc"></div>

{{!-- 引入 支持文件 及 Tocify 插件 --}}
<script src="https://cdn.bootcss.com/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="https://cdn.bootcss.com/jquery.tocify/1.9.0/javascripts/jquery.tocify.min.js"></script>

{{!-- 配置及生成目录 --}}
<script>
    $("#toc").tocify({
        selectors: "h2,h3,h4,h5", // 选择要筛选的标题
        extendPage: false, // 页面不够长时拉长页面，这里选择关闭因为感觉留出大片空白不好看- -
        highlightDefault: false // 自动高亮第一条
    });
</script>