{{!< default}}

{{> "hero"}}

{{!-- The main content area --}}
<main class="site-main">
    <div class="post-feed max-w-3xl mx-auto">
        {{#foreach posts}}
            {{> "post-card"}}
        {{/foreach}}
    </div>
</main>