{{!< default}}

{{> "hero"}}

<main class="site-main">
    <div class="post-feed max-w-prose px-6 mx-auto grid grid-cols-1 gap-16">
        {{#foreach posts}}
            {{> "post-card"}}
        {{/foreach}}
    </div>
</main>