body
    font: 300 1em/1.8 PingFang SC, Lantinghei SC, Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans-serif;
    margin: 0;
    padding: 0;
    background: var(--color-bg);

a
    text-decoration: none;

h1, h2, h3, h4, h5, h6, p
    margin: 0;
    padding: 0;
    font-size: 100%;

.gh-viewport
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 1000px;
    margin: 50px auto;
    padding: 40px 100px;
    background: #ffffff;
    box-sizing: border-box;