<footer class='gh-foot flex h-40 items-center justify-center text-gray-200 text-sm'>
  <div class='gh-foot-meta'>
    Published with
    <a href='https://ghost.org' target='_blank' rel='noopener'>Ghost</a>
    &
    <a
      href='https://github.com/moegi-design/ghost-theme-Moegi'
      target='_blank'
      rel='noopener'
    >Moegi</a>
  </div>
</footer>