<ul class="nav flex flex-col sm:flex-row">
    {{#foreach navigation}}
    <li class="{{link_class for=(url) class=(concat "nav-" slug)}} sm:mx-2 border-b sm:border-0 border-black/5 last:border-0 hover:text-accent">
        <a href="{{url absolute="true"}}" class="block h-12 sm:h-auto flex items-center">{{label}}</a>
    </li>
    {{/foreach}}
</ul>