body {
    font: 300 1em/1.8 PingFang SC, Lantinghei SC, Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans-serif;
    margin: 0;
    padding: 0;
}

a {
    transition: all 0.3s ease;
    text-decoration: none;
    color: #4a4a4a;
}

a:hover {
    color: #86B81B;
    text-decoration: none;
}

/* INDEX */

.blog-title {
    font-size: 2.6em;
    margin-top: 1.6em;
    line-height: 1.5;
}

.blog-description {
    color: #999999;
}

.top-nav ul {
    display: inline-block;
    list-style: none;
}

.top-nav li {
    margin: 0 4px;
    display: inline-block;
}

.top-nav a {
    border: none;
}

.nav-current {
    border-bottom: 1px solid #3a4145;
}

.index-tag-cloud {
    margin-top: 1.2rem;
    line-height: 2;
    max-width: 90%;
}

.top-nav {
    margin: 1em 0;
}

.search-bar {
    display: inline-block;
    margin-left: 4px;
}

.search-bar .iconfont {
    color: #4a4a4a;
}

.search-bar .iconfont:hover {
    color: #86B81B;
}

#input-div {
    display: none;
    padding: 0.2em 1em;
    background: #f6f6f6;
    border-radius: 8px;
}

#search-input {
    border: none;
    /* border-bottom: 1px solid #4a4a4a; */
    width: 10em;
    margin: 0;
    background: transparent;
    outline: none;
}

#search-btn {
    padding: 0.2em 0;
}

.index-search-list {
    padding: 1.6em 0;
    display: none;
}

/* POST */

.single-post {
    margin: 0;
}

.post-blog-title {
    font-size: 1.1em;
    margin-top: 2.4em;
}

.post-blog-title a {
    font-weight: 300;
    color: #999999;
}

.post-blog-title a:hover {
    color: #86B81B;
}

.post-header {
    margin-top: 1em;
    margin-bottom: 2.4em;
}

.post-title {
    font-size: 2em;
    color: #52433D;
}

.index-post .post-toptitle {
    margin-bottom: 0.8em;
}

.index-post .post-excerpt {
    color: #999999;
}

.index-post .post-meta, .post-header .post-meta {
    display: block;
    color: #9EABB3;
    font-weight: 300;
    margin-top: 0.6em;
}

.post-meta a {
    transition: all 0.3s ease;
    text-decoration: none;
    color: #9EABB3;
    font-weight: 300;
}

.post-meta a:hover {
    color: #86B81B;
}

.post-meta .tags {
    margin-left: 0.6em;
}

.index-post {
    padding: 1.6em 0;
    border-bottom: #EBF2F6 1px solid;
    word-wrap: break-word;
}

/* TAGS */

.tags a {
    position: relative;
    padding: 0.1em 0.6em;
    margin-right: 0.4em;
    background: #f6f6f6;
    color: #9EABB3;
}

.tags a:hover {
    background: #86B81BD0;
    color: #fff;
}

.tags a::before {
    content: "#"
}

.tag-cloud {
    line-height: 2.2;
}


/* READ MORE */

.post-readmore {
    display: -webkit-box;
    display: -moz-box;
    display: flex;
    padding-top: 1em;
    border-top: #EBF2F6 1px solid;
}

.post-readmore div {
    width: 50%;
    position: relative;
}

.post-readmore .prev {
    text-align: left;
    margin-right: 0.3em;
}

.post-readmore .next {
    text-align: right;
    margin-left: 0.3em;
}

.iconfont {
    color: #86B81B
}

/* CONTENT ADDONS */

.single-post a {
    padding-bottom: 3px;
    color: #86B81B;
    /* border-bottom: 1px dashed #86B81B; */
}

.single-post a:hover {
    color: #86B81B;
    background: #86B81B10;
}

.single-post img {
    display: block;
    margin: auto;
    max-width: 100%;
    min-width: 50%;
    height: auto;
}

em {
    font-style: italic;
}

code {
    color: #A96360;
    padding: 0.08rem 0.5rem;
    background: rgba(169, 99, 96, 0.05);
    border-radius: 3px;
    word-spacing: normal;
    word-break: normal;
    word-wrap: break-word;
    -moz-tab-size: 4;
    tab-size: 4;
    -moz-hyphens: none;
    hyphens: none;
}

blockquote {
    border-left: 4px solid rgba(158, 171, 179, 0.5);
    margin: 0;
}

.typo a {
    border-bottom: none;
}

.typo h2 {
    position: relative;
}

.typo h2::before {
    color: #86B81B;
    content: "# ";
    position: absolute;
    left: -1em;
}

.single-post li, .typo li {
    list-style: circle;
}

pre {
    background: #f0f0f0;
    font-size: 0.85em;
    line-height: 1.3;
}

/* POST-FOOTER */

.post-footer {
    margin-top: 4.8em;
}

/* POST-FOOTER AUTHOR */

.author-card {
    background: #f6f6f6;
    padding: 0.8em 1.2em;
    border-radius: 8px;
    display: flex;
    margin-bottom: 2em;
}

.author-card .author-profile-image {
    width: 60px;
    height: 60px;
    border-radius: 100%;
}

.author-card .author-profile-image-a {
    margin: 0;
    padding: 0;
    margin-right: 0.8em;
    line-height: 0;
}

.author-card .author-card-name {
    font-size: 1.2em;
    margin: 0;
    line-height: 1.65;
    font-weight: bold;
}

.author-card .author-card-bio {
    color: #999999;
}

.author-card .author-card-bio a {
    color: #86B81BD0;
}

.author-card .author-card-bio a:hover {
    color: #86B81B;
}

/* POST-FOOTER TAGS */

.post-footer .tags {
    display: block;
    margin: 0.6em 0;
}

/* PAGINATION */

.pagination {
    display: -webkit-box;
    display: -moz-box;
    display: flex;
    margin-top: 1em;
}

.pagination div {
    position: relative;
}

.pagination a {
    font-weight: 300;
}

.pagination .prev {
    width: 30%;
    text-align: left;
}

.pagination .page-number {
    width: 40%;
    text-align: center;
    color: #9EABB3;
}

.pagination .next {
    width: 30%;
    text-align: right;
}

.iconfont {
    color: #86B81B;
}



/* FOOTER */

.blog-footer {
    margin: 2em auto 1em;
    text-align: center;
}

.blog-footer p {
    display: block;
    font-size: 0.9em;
    color: rgba(158, 171, 179, 0.6);
    line-height: 1;
}

.blog-footer .line-2 {
    display: inline;
}

.blog-footer a {
    color: rgba(158, 171, 179, 0.7);
}

.blog-footer a:hover {
    color: #86B81B;
    background: rgba(134, 184, 27, 0.1);
}

/* TOC */
#toc {
    position: fixed;
    left: 50%;
    top: 20%;
    margin-left: 400px;
    border-left: 1px solid #dddddd;
}

/* #toc:before {
    content: "目录";
    margin-left: 1em;
    border-bottom: 1px solid #333333;
    margin-bottom: 0.6em;
    color: #333333;
    display: inline-block;
} */

#toc a {
    display: block;
    color: #cccccc;
}

#toc a:hover {
    padding: 0;
    color: #86B81B;
}

#toc .active a {
    color: #86B81B;
}

#toc ul {
    margin-left: 1em;
}

#toc li {
    display: block;
}

/* COMMENT PATCH */
#comment {
    margin-top: 3.2em;
    position: relative;
}

#comment .vnick {
    color: #666;
}

#comment .comment-header {
    margin: 0.6em 0;
    font-size: 1.6em;
}

#comment .comment-header::before {
    color: #86B81B;
    content: "@ ";
    position: absolute;
    left: -1em;
}

#comment-box .vwrap {
    border: none;
    border-radius: 0;
    padding: 0;
}

#comment-box .vlist .vcard .vhead .vname:hover {
    color: #86B81B;
}

#comment-box .veditor {
    font-size: 1em;
    padding: 0.6em 0.8em;
    border-radius: 5px;
    border: 1px solid #f0f0f0;
    background: #fcfcfc;
    min-height: 4em;
    height: 4em;
}

#comment-box .veditor:focus {
    border: 2px solid #86B81B90;
    height: 7em;
    background: #ffffff;
}

#comment-box ::-webkit-input-placeholder {
    color: #cccccc;
}

#comment-box ::-moz-placeholder {
    color: #cccccc;
}

#comment-box :-ms-input-placeholder {
    color: #cccccc;
}

#comment-box .vwrap .vheader .vinput {
    width: 25%;
    border: 1px solid #f0f0f0;
    margin-right: 1em;
    margin-bottom: 8px;
    padding: 0.4em 1em;
    display: none;
    border-radius: 8px;
    background: #fcfcfc;
    font-size: 0.8em;
}

#comment-box .vwrap .vheader .vinput:focus {
    border: 2px solid #86B81B90;
}

#comment-box .vwrap .vheader .vinput:focus {
    background: #ffffff;
}

#comment-box .display {
    display: inline !important;
}

#comment-box .vwrap .vcontrol {
    padding-top: 8px;
    display: none;
}

#comment-box .vwrap .vedit .vctrl {
    display: none;
}

#comment-box .vwrap .vcontrol .col.col-60 {
    display: none;
}

#comment-box .vwrap .vcontrol .col.col-40 {
    width: 100%;
}

#comment-box .vbtn:active, #comment-box .vbtn:hover {
    color: #fff;
    border-color: #86B81B;
    background-color: #86B81BD0;
}

#comment-box .vlist .vcard section .vfooter .vat {
    color: #b3b3b3;
}

#comment-box .vlist .vcard section .vfooter .vat:hover {
    color: #86B81B;
}

#comment-box .vlist .vcard .vcontent {
    font-size: 1em;
}

#comment-box .vlist .vcard .vcontent a {
    color: #86B81BB0;
}

#comment-box .vlist .vcard .vcontent a:hover {
    color: #86B81B;
}

#comment-box .vlist .vcard .vhead .vsys {
    background: #f6f6f6;
    padding: .2em .5em;
}

#comment-box .vlist .vcard .vh .vmeta .vat {
    color: #999999;
}

#comment-box .power {
    color: #cccccc;
}

#comment-box a {
    color: #bbbbbb;
}

#comment-box a:hover {
    color: #86B81B;
}

/* GO TO TOP */

.go-to-top {
    background-image: url("../images/go-to-top.png");
    width: 30px;
    height: 30px;
    position: fixed;
    bottom: 30px;
    left: 50%;
    -webkit-transform: translateX(400px);
    -moz-transform: translateX(400px);
    transform: translateX(400px);
    border: none;
    display: none;
    opacity: 0.3;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s
}

.go-to-top:hover {
    opacity: 1
}

/* ARCHIVES & SEARCH */
#archives-list time {
    color: #666666;
}

#archives-list a {
    margin-left: 1em;
}

#archives-list a:hover {
    color: #86B81B;
}

#archives-list .search-item {
    font-size: 1.2em;
}

#archives-list .no-result {
    color: #999999;
}

/* ERROR */

.error-message {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.8em;
}

.error-code {
    margin: 0;
    font-size: 4em;
    opacity: .3;
}

.error-description {
    margin: 0;
    color: #999999;
}

/* POSITIONING */

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.center {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.justify {
    text-align: justify;
}


/* TYPOGRAPHY */

.container {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}

@media only screen and (max-width: 540px) {
    .container {
        width: 90%;
    }

    .typo h2::before {
        position: relative;
        left: 0;
    }

    #comment .comment-header::before {
        position: relative;
        left: 0;
    }

    #comment .vwrap .vheader.item2 .vinput, #comment .vwrap .vheader .vinput {
        width: 100%;
    }

    #toc {
        display: none;
    }
}

@media only screen and (min-width: 960px) {
    .container {
        width: 75%;
        max-width: 700px;
    }
}
