body {
    font: 300 1em/1.8 PingFang SC, Lantinghei SC, Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans-serif;
    margin: 0;
    padding: 0;
    --main-color: #666666;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}

a {
    transition: all 0.3s ease;
    text-decoration: none;
    color: #4a4a4a;
}

a:hover {
    color: var(--main-color);
    text-decoration: none;
}

/* INDEX */

.blog-title {
    font-size: 2.6em;
    margin-top: 1.6em;
    line-height: 1.5;
}

.blog-description {
    color: #999999;
}

.post-nav {
    display: none;
    font-size: 0.84em;
    color: #cccccc;
    margin-left: 1em;
}

.top-nav ul {
    display: inline-block;
    list-style: none;
}

.top-nav li {
    margin: 0 6px;
    float: left;
}

.post-nav li {
    float: left;
}

.post-nav li > a {
    margin: 0 4px;
}

.top-nav a {
    border: none;
}

.post-nav a {
    color: #cccccc;
    border: none;
}

.post-nav ul > li:not(:last-child)::after {
    content: '·';
}

.top-nav .nav-current {
    border-bottom: 1px solid #3a4145;
}

/* .post-nav .nav-current a {
    background: #f6f6f6;
    border-radius: 8px;
    padding: 4px 6px;
} */

.index-tag-cloud {
    margin-top: 1.2rem;
    line-height: 2;
    max-width: 90%;
}

.top-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1em 0;
}

.search-bar {
    display: inline-block;
    margin-left: 4px;
}

.search-bar .iconfont {
    color: #4a4a4a;
}

.search-bar .iconfont:hover {
    color: var(--main-color);
}

#input-div {
    display: none;
    padding: 0.2em 1em;
    background: #f6f6f6;
    border-radius: 8px;
}

#search-input {
    border: none;
    /* border-bottom: 1px solid #4a4a4a; */
    width: 10em;
    margin: 0;
    background: transparent;
    outline: none;
}

#search-btn {
    padding: 0.2em 0;
}

.index-search-list {
    padding: 1.6em 0;
    display: none;
}

/* POST */

.single-post {
    margin: 0;
}

.post-blog-title {
    display: flex;
    align-items: center;
    font-size: 1.1em;
    margin-top: 2.4em;
}

.post-blog-title:hover .post-nav {
    display: inline;
    animation: left-in .4s ease-out 1;
}

.post-blog-title a {
    font-weight: 300;
    color: #999999;
}

.post-blog-title a:hover {
    color: var(--main-color);
}

.post-header {
    margin-top: 2.8em;
    margin-bottom: 2.4em;
    border-bottom: 1px solid #eee;
    padding-bottom: 1em;
}

.post-title {
    font-size: 1.6em;
    color: #606266;
}

.index-post .post-toptitle {
    margin-bottom: 0.8em;
}

.index-post .post-excerpt {
    color: #999999;
}

.index-post .post-meta, .post-header .post-meta {
    font-size: 0.96em;
    display: block;
    color: #9EABB3;
    font-weight: 300;
    margin-top: 0.6em;
}

.post-meta a {
    transition: all 0.3s ease;
    text-decoration: none;
    color: #9EABB3;
    font-weight: 300;
}

.post-meta a:hover {
    color: var(--main-color);
}

.post-meta .tags {
    margin-left: 0.6em;
}

.index-post {
    padding: 1.6em 0;
    border-bottom: #EBF2F6 1px solid;
    word-wrap: break-word;
}

/* TAGS */

.tags a {
    position: relative;
    padding: 0.1em 0.6em;
    margin-right: 0.4em;
    background: #f6f6f6;
    color: #9EABB3;
}

.tags a:hover {
    opacity: .7;
    background: var(--main-color);
    color: #fff;
}

.tags a::before {
    content: "#"
}

.tag-cloud {
    line-height: 2.2;
}


/* READ MORE */

.post-readmore {
    display: -webkit-box;
    display: -moz-box;
    display: flex;
    padding-top: 1em;
    border-top: #EBF2F6 1px solid;
}

.post-readmore div {
    width: 50%;
    position: relative;
}

.post-readmore .prev {
    text-align: left;
    margin-right: 0.3em;
}

.post-readmore .next {
    text-align: right;
    margin-left: 0.3em;
}

.iconfont {
    color: var(--main-color);
}

/* CONTENT ADDONS */

.single-post a, .typo a {
    opacity: .8;
    position: relative;
    color: var(--main-color);
    padding-bottom: 3px;
}

.single-post a:hover, .typo a:hover {
    opacity: 1;
    color: var(--main-color);
}

.single-post a::before {
    content: "";
    position: absolute;
    width: 0;
    right: 0;
    bottom: 0;
    height: 1px;
    background: var(--main-color);
    -webkit-transition: width .3s ease;
    transition: width .3s ease;
}

.single-post a:hover::before {
    width: 100%;
    left: 0;
    right: auto;
}

.single-post table {
    width: 100%;
}

.single-post img {
    display: block;
    margin: auto;
    max-width: 100%;
    min-width: 50%;
    height: auto;
    box-shadow: 0 0 10px #ddd;
}

.single-post .kg-width-wide {
    width: 106%;
    max-width: none;
    margin-left: -3%;
}

.single-post .kg-width-full {
    width: 100%;
}

.single-post em {
    font-style: italic;
}

.single-post .hljs {
    padding: 1.2em;
    border: 1px solid #eeeeee;
    border-radius: 5px;
}

.single-post p code {
    color: #A96360;
    padding: 0.1rem 0.5rem;
    background: rgba(169, 99, 96, 0.05);
    border-radius: 3px;
    word-spacing: normal;
    word-break: normal;
    word-wrap: break-word;
    font-size: 0.9em;
}

.single-post blockquote {
    border-left: 4px solid rgba(158, 171, 179, 0.5);
    margin: 0;
}

.typo a {
    border-bottom: none;
}

.typo h2 {
    position: relative;
    font-size: 1.4em;
    margin-top: 1.8em;
    padding-top: 0.8em;
}

.typo h2::before {
    color: var(--main-color);
    content: "# ";
    position: absolute;
    left: -1em;
}

.typo h3 {
    font-size: 1.25em;
}

.typo h4 {
    font-size: 1.1em;
}

.typo h5, h6 {
    font-size: 1em;
}

.single-post ul li, .typo ul li {
    list-style: circle;
}

pre {
    background: none;
    border: none;
    padding: 0;
    font-size: 0.85em;
    line-height: 1.3;
}

.kg-gallery-container {
    display: flex;
    flex-direction: column;
    margin: 1.5em auto;
    max-width: 1040px;
    width: 100vw;
}
 .kg-gallery-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
 .kg-gallery-image img {
    display: block;
    margin: 0;
    width: 100%;
    height: 100%;
}
 .kg-gallery-row:not(:first-of-type) {
    margin: 0.75em 0 0 0;
}
 .kg-gallery-image:not(:first-of-type) {
    margin: 0 0 0 0.75em;
}

.kg-image-card,
.kg-gallery-card {
    margin: 0 0 1.5em;
}

.kg-image-card figcaption,
.kg-gallery-card figcaption {
    margin: 0.8em 0 1.4em;
    text-align: center;
    font-size: 0.85em;
    color: #bbb;
}

/* POST-FOOTER */

.post-footer {
    margin-top: 4.8em;
}

/* POST-FOOTER AUTHOR */

.author-card {
    background: #f6f6f6;
    padding: 0.8em 1.2em;
    border-radius: 8px;
    display: flex;
    margin-bottom: 2em;
}

.author-card .author-profile-image {
    width: 60px;
    height: 60px;
    border-radius: 100%;
}

.author-card .author-profile-image-a {
    margin: 0;
    padding: 0;
    margin-right: 0.8em;
    line-height: 0;
}

.author-card .author-card-name {
    font-size: 1.2em;
    margin: 0;
    line-height: 1.65;
    font-weight: bold;
}

.author-card .author-card-bio {
    color: #999999;
}

.author-card .author-card-bio a {
    color: var(--main-color);
}

.author-card .author-card-bio a:hover {
    color: var(--main-color);
}

/* POST-FOOTER TAGS */

.post-footer .tags {
    display: block;
    margin: 0.6em 0;
}

/* PAGINATION */

.pagination {
    display: -webkit-box;
    display: -moz-box;
    display: flex;
    margin-top: 1em;
}

.pagination div {
    position: relative;
}

.pagination .prev {
    width: 30%;
    text-align: left;
}

.pagination .page-number {
    width: 40%;
    text-align: center;
    color: #9EABB3;
}

.pagination .next {
    width: 30%;
    text-align: right;
}

.iconfont {
    color: var(--main-color);
}



/* FOOTER */

.blog-footer {
    margin: 2em auto 1em;
    text-align: center;
}

.blog-footer p {
    display: block;
    font-size: 0.9em;
    color: rgba(158, 171, 179, 0.6);
    line-height: 1;
}

.blog-footer .line-2 {
    display: inline;
}

.blog-footer a {
    color: rgba(158, 171, 179, 0.7);
}

.blog-footer a:hover {
    color: var(--main-color);
}

/* TOC */
#toc {
    position: fixed;
    left: 50%;
    top: 20%;
    margin-left: 400px;
    border-left: 1px solid #dddddd;
}

/* #toc:before {
    content: "目录";
    margin-left: 1em;
    border-bottom: 1px solid #333333;
    margin-bottom: 0.6em;
    color: #333333;
    display: inline-block;
} */

#toc a {
    display: block;
    color: #cccccc;
}

#toc a:hover {
    padding: 0;
    color: var(--main-color);
}

#toc .active a {
    color: var(--main-color);
}

#toc ul {
    margin-left: 1em;
}

#toc li {
    display: block;
}

/* VALINE PATCH */
#comment {
    margin-top: 3.2em;
    position: relative;
}

#comment .vnick {
    color: #666;
}

#comment .comment-header {
    margin: 0.6em 0;
    font-size: 1.6em;
}

#comment .comment-header::before {
    color: var(--main-color);
    content: "@ ";
    position: absolute;
    left: -1em;
}

#comment-box .vwrap {
    border: none;
    border-radius: 0;
    padding: 0;
}

#comment-box .vlist .vcard .vhead .vname:hover {
    color: var(--main-color);
}

#comment-box .veditor {
    font-size: 1em;
    padding: 0.6em 0.8em;
    border-radius: 5px;
    border: 1px solid #f0f0f0;
    background: #fcfcfc;
    min-height: 4em;
    height: 4em;
}

#comment-box .veditor:focus {
    border: 1px solid var(--main-color);
    height: 7em;
    background: #ffffff;
}

#comment-box ::-webkit-input-placeholder {
    color: #cccccc;
}

#comment-box ::-moz-placeholder {
    color: #cccccc;
}

#comment-box :-ms-input-placeholder {
    color: #cccccc;
}

#comment-box .vwrap .vheader .vinput {
    width: 25%;
    border: 1px solid #f0f0f0;
    margin-right: 1em;
    margin-bottom: 8px;
    padding: 0.4em 1em;
    display: none;
    border-radius: 8px;
    background: #fcfcfc;
    font-size: 0.8em;
}

#comment-box .vwrap .vheader .vinput:focus {
    border: 1px solid var(--main-color);
}

#comment-box .vwrap .vheader .vinput:focus {
    background: #ffffff;
}

#comment-box .display {
    display: inline !important;
}

#comment-box .vwrap .vcontrol {
    padding-top: 8px;
    display: none;
}

#comment-box .vwrap .vedit .vctrl {
    display: none;
}

#comment-box .vwrap .vcontrol .col.col-60 {
    display: none;
}

#comment-box .vwrap .vcontrol .col.col-40 {
    width: 100%;
}

#comment-box .vbtn:active, #comment-box .vbtn:hover {
    color: #fff;
    opacity: .7;
    border-color: var(--main-color);
    background-color: var(--main-color);
}

#comment-box .vlist .vcard section .vfooter .vat {
    color: #b3b3b3;
}

#comment-box .vlist .vcard section .vfooter .vat:hover {
    color: var(--main-color);
}

#comment-box .vlist .vcard .vcontent {
    font-size: 1em;
}

#comment-box .vlist .vcard .vcontent a {
    opacity: .7;
    color: var(--main-color);
}

#comment-box .vlist .vcard .vcontent a:hover {
    opacity: 1;
    color: var(--main-color);
}

#comment-box .vlist .vcard .vhead .vsys {
    background: #00000005;
    padding: .2em .5em;
}

#comment-box .vlist .vcard .vh .vmeta .vat {
    color: #999999;
}

#comment-box .power {
    color: #cccccc;
}

#comment-box a {
    color: #bbbbbb;
}

#comment-box a:hover {
    color: var(--main-color);
}

#comment-box a::before {
    background: var(--main-color);
}

#comment-box .vlist .vcard .vhead .vnick::before {
    background: var(--main-color);
}

/* GITMENT PATCH */
#comment-box .gt-container .gt-svg svg {
    fill: #666666;
}

/* LOADING BAR */
/* Make clicks pass-through */
#nprogress {
    pointer-events: none;
}
  
#nprogress .bar {
    background: var(--main-color);
  
    position: fixed;
    z-index: 1031;
    top: 0;
    left: 0;
  
    width: 100%;
    height: 2px;
}
  
/* Fancy blur effect */
#nprogress .peg {
    display: block;
    position: absolute;
    right: 0px;
    width: 100px;
    height: 100%;
    box-shadow: 0 0 10px var(--main-color), 0 0 5px var(--main-color);
    opacity: 1.0;
  
    -webkit-transform: rotate(3deg) translate(0px, -4px);
    -ms-transform: rotate(3deg) translate(0px, -4px);
    transform: rotate(3deg) translate(0px, -4px);
}
  
/* Remove these to get rid of the spinner */
#nprogress .spinner {
    display: block;
    position: fixed;
    z-index: 1031;
    top: 15px;
    right: 15px;
}
  
#nprogress .spinner-icon {
    width: 18px;
    height: 18px;
    box-sizing: border-box;
  
    border: solid 2px transparent;
    border-top-color: var(--main-color);
    border-left-color: var(--main-color);
    border-radius: 50%;
  
    -webkit-animation: nprogress-spinner 400ms linear infinite;
    animation: nprogress-spinner 400ms linear infinite;
}
  
.nprogress-custom-parent {
    overflow: hidden;
    position: relative;
}
  
.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
    position: absolute;
}
  
@-webkit-keyframes nprogress-spinner {
    0%   { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
@keyframes nprogress-spinner {
    0%   { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* GO TO TOP */

.go-to-top {
    background-image: url("../images/go-to-top.png");
    width: 30px;
    height: 30px;
    position: fixed;
    bottom: 30px;
    left: 50%;
    -webkit-transform: translateX(400px);
    -moz-transform: translateX(400px);
    transform: translateX(400px);
    border: none;
    display: none;
    opacity: 0.3;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s
}

.go-to-top:hover {
    opacity: 1
}

/* ARCHIVES & SEARCH */
#archives-list time {
    color: #666666;
}

#archives-list a {
    margin-left: 1em;
}

#archives-list a:hover {
    color: var(--main-color);
}

#archives-list .search-item {
    font-size: 1.2em;
}

#archives-list .no-result {
    color: #999999;
}

/* ERROR */

.error-message {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.8em;
}

.error-code {
    margin: 0;
    font-size: 4em;
    opacity: .3;
}

.error-description {
    margin: 0;
    color: #999999;
}

/* POSITIONING */

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.center {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.justify {
    text-align: justify;
}


/* TYPOGRAPHY */

.container {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}

@media only screen and (max-width: 540px) {
    .container {
        width: 90%;
    }

    .typo h2::before {
        position: relative;
        left: 0;
    }

    #comment .comment-header::before {
        position: relative;
        left: 0;
    }

    #comment .vwrap .vheader.item2 .vinput, #comment .vwrap .vheader .vinput {
        width: 100%;
    }

    #toc {
        display: none;
    }
}

@media only screen and (min-width: 960px) {
    .container {
        width: 75%;
        max-width: 700px;
    }
}

/* KEYFRAMES */
@keyframes left-in{
    0% {
        opacity: 0;
        transform: translateX(-10px);
    }
    40% {
        opacity: 1;
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
