html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
    display: block
}

audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline
}

audio:not([controls]) {
    display: none;
    height: 0
}

[hidden],
template {
    display: none
}

a {
    background-color: transparent
}

a:active,
a:hover {
    outline: 0
}

abbr[title] {
    border-bottom: 1px dotted
}

b,
strong {
    font-weight: bold
}

dfn {
    font-style: italic
}

h1 {
    font-size: 2em;
    margin: 0.67em 0
}

mark {
    background: #ff0;
    color: #000
}

small {
    font-size: 80%
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sup {
    top: -0.5em
}

sub {
    bottom: -0.25em
}

img {
    border: 0
}

svg:not(:root) {
    overflow: hidden
}

figure {
    margin: 1em 40px
}

hr {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0
}

pre {
    overflow: auto
}

code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 0.95em
}

button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0
}

button {
    overflow: visible
}

button,
select {
    text-transform: none
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer
}

button[disabled],
html input[disabled] {
    cursor: default
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0
}

input {
    line-height: normal
}

input[type="checkbox"],
input[type="radio"] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    height: auto
}

input[type="search"] {
    -webkit-appearance: textfield
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none
}

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em
}

legend {
    border: 0;
    padding: 0
}

textarea {
    overflow: auto
}

optgroup {
    font-weight: bold
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

td,
th {
    padding: 0
}

html {
    height: 100%;
    max-height: 100%;
    font-size: 62.5%;
    -webkit-tap-highlight-color: transparent
}

body {
    height: 100%;
    max-height: 100%;
    font-family: 'Merriweather', 'Hiragino Sans GB', 'Microsoft YaHei', 'WenQuanYi Micro Hei', sans-serif;
    letter-spacing: 0.01rem;
    font-size: 1.8rem;
    line-height: 1.75em;
    color: #3A4145;
    -webkit-font-feature-settings: 'kern' 1;
    -moz-font-feature-settings: 'kern' 1;
    font-feature-settings: 'kern' 1;
    text-rendering: geometricPrecision;
    text-align: center;
    background: url(../images/body-bg.png);
}

::-moz-selection {
    background: #D6EDFF
}

::selection {
    background: #D6EDFF
}

h1,
h2,
h3,
h4,
h5,
h6 {
    -webkit-font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
    -moz-font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
    font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
    color: #2E2E2E;
    line-height: 1.15em;
    margin: 0 0 0.7em 0;
    font-family: 'Open Sans', 'Hiragino Sans GB', 'Microsoft YaHei', 'WenQuanYi Micro Hei', sans-serif;
    text-rendering: geometricPrecision
}

h1 {
    font-size: 5rem;
    letter-spacing: -2px;
    text-indent: -3px
}

h2 {
    font-size: 3.6rem;
    letter-spacing: -1px
}

h3 {
    font-size: 3rem
}

h4 {
    font-size: 2.5rem
}

h5 {
    font-size: 2rem
}

h6 {
    font-size: 2rem
}

a {
    text-decoration: none;
    color: #333;
    -webkit-transition: color 0.3s ease;
    -moz-transition: color 0.3s ease;
    transition: color 0.3s ease;
}

a:hover {
    text-decoration: none;
    color: #86B81B;
}

p,
ul,
ol,
dl {
    -webkit-font-feature-settings: 'liga' 1, 'onum' 1, 'kern' 1;
    -moz-font-feature-settings: 'liga' 1, 'onum' 1, 'kern' 1;
    font-feature-settings: 'liga' 1, 'onum' 1, 'kern' 1;
    margin: 0 0 1.75em 0;
    text-rendering: geometricPrecision
}

dl dt {
    float: left;
    width: 180px;
    overflow: hidden;
    clear: left;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 700;
    margin-bottom: 1em
}

dl dd {
    margin-left: 200px;
    margin-bottom: 1em
}

li {
    margin: 0.4em 0
}

li li {
    margin: 0
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: #EFEFEF 1px solid;
    margin: 3.2em auto;
    padding: 0
}

blockquote {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 1.75em 0 1.75em -2.2em;
    padding: 0 0 0 1.75em;
    border-left: #4A4A4A 0.4em solid
}

blockquote blockquote {
    margin-left: 0
}

blockquote p {
    margin: 0.8em 0;
    font-style: italic
}

blockquote small {
    display: inline-block;
    margin: 0.8em 0 0.8em 1.5em;
    font-size: 0.9em;
    color: #CCC
}

blockquote small:before {
    content: '\2014 \00A0'
}

blockquote cite {
    font-weight: 700;
    font-style: normal
}

blockquote cite a {
    font-weight: normal
}

mark {
    background-color: #fdffb6
}

kbd {
    display: inline-block;
    margin: 0 .1em;
    padding: .1em .6em;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 12px;
    line-height: 1.4;
    color: #242729;
    text-shadow: 0 1px 0 #FFF;
    background-color: #e1e3e5;
    border: 1px solid #adb3b9;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 0 rgba(12, 13, 14, 0.2), 0 0 0 2px #fff inset;
    -moz-box-shadow: 0 1px 0 rgba(12, 13, 14, 0.2), 0 0 0 2px #fff inset;
    box-shadow: 0 1px 0 rgba(12, 13, 14, 0.2), 0 0 0 2px #fff inset;
    white-space: nowrap;
    vertical-align: text-bottom
}

table {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 1.75em 0;
    background-color: transparent
}

table th,
table td {
    padding: 8px;
    line-height: 20px;
    text-align: left;
    vertical-align: top;
    border-top: #EFEFEF 1px solid
}

table th {
    color: #000
}

table caption + thead tr:first-child th,
table caption + thead tr:first-child td,
table colgroup + thead tr:first-child th,
table colgroup + thead tr:first-child td,
table thead:first-child tr:first-child th,
table thead:first-child tr:first-child td {
    border-top: 0
}

table tbody + tbody {
    border-top: #EFEFEF 2px solid
}

table table table {
    background-color: #fff
}

table tbody > tr:nth-child(odd) > td,
table tbody > tr:nth-child(odd) > th {
    background-color: #F6F6F6
}

table.plain tbody > tr:nth-child(odd) > td,
table.plain tbody > tr:nth-child(odd) > th {
    background: transparent
}

iframe,
.fluid-width-video-wrapper {
    display: block;
    margin: 1.75em 0
}

.fluid-width-video-wrapper iframe {
    margin: 0
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table
}

.clearfix:after {
    clear: both
}

.clearfix {
    zoom: 1
}

.hidden {
    text-indent: -9999px;
    visibility: hidden;
    display: none
}

@font-face {
    font-family: "casper-icons";
    src: url("../fonts/casper-icons.eot?v=1");
    src: url("../fonts/casper-icons.eot?v=1#iefix") format("embedded-opentype"), url("../fonts/casper-icons.woff?v=1") format("woff"), url("../fonts/casper-icons.ttf?v=1") format("truetype"), url("../fonts/casper-icons.svg?v=1#icons") format("svg");
    font-weight: normal;
    font-style: normal
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
    font-family: "casper-icons", "Open Sans", sans-serif;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    text-decoration: none !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.icon-ghost:before {
    content: "\f600"
}

.icon-feed:before {
    content: "\f601"
}

.icon-twitter:before {
    content: "\f602";
    font-size: 1.1em
}

.icon-google-plus:before {
    content: "\f603"
}

.icon-facebook:before {
    content: "\f604"
}

.icon-arrow-left:before {
    content: "\f605"
}

.icon-stats:before {
    content: "\f606"
}

.icon-location:before {
    content: "\f607";
    margin-left: -3px
}

.icon-link:before {
    content: "\f608"
}

.icon-menu:before {
    content: "\f609"
}

.main-header {
    margin-bottom: 40px;
    padding-top: 10rem;
    -moz-background-size: cover;
    background-size: cover;
    background-position: center
}

.main-header.has-cover .page-title,
.main-header.has-cover .page-title a,
.main-header.has-cover .page-description,
.main-header.has-cover .nav a {
    color: #fff;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5)
}

.main-header.has-cover .nav:before,
.main-header.has-cover .nav:after {
    background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), color-stop(50%, #fff), to(rgba(255, 255, 255, 0)));
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, #fff 50%, rgba(255, 255, 255, 0) 100%);
    background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, #fff 50%, rgba(255, 255, 255, 0) 100%);
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #fff 50%, rgba(255, 255, 255, 0) 100%)
}

.main-header .nav,
.main-header .page-title,
.main-header .page-description {
    width: 90%;
    max-width: 500px;
    margin: auto
}

.main-header .nav {
    margin: 40px auto 50px;
    padding-bottom: 20px
}

.main-header .nav ul {
    list-style: none;
    margin: 0;
    padding: 0
}

.main-header .nav li {
    min-width: 80px;
    margin: 5px;
    display: inline-block;
    font-size: 16px;
    text-transform: uppercase
}

.main-header .page-title {
    margin: 0 auto 15px
}

.main-header .page-title a {
    font-size: 40px;
}

.main-header .page-description {
    font-size: 16px;
    font-weight: normal;
    color: rgba(46, 46, 46, 0.8)
}

.post-title {
    font-size: 3.6rem
}

.post-excerpt,
.post-content {
    text-align: left
}

.post-meta {
    margin-bottom: 20px;
    font-style: italic
}

.post-meta a {
    text-decoration: underline;
    font-size: 15px;
    color: #666666
}

.post-excerpt p {
    text-indent: 2em;
    margin-bottom: 10px
}

.post-excerpt .read-more {
    font-style: italic;
    text-decoration: underline
}

.post {
    font-size: 14px;
    line-height: 2
}

.content .short-diver {
    position: relative;
    margin-bottom: 60px
}

.content .short-diver:after {
    content: '';
    display: block;
    width: 40px;
    height: 4px;
    background: #eeeeee;
    margin: 60px auto 0
}

.pagination {
    font-size: 15px;
    margin-top: 20px;
    position: relative
}

.newer-posts,
.older-posts {
    position: absolute;
    top: 0;
    left: 0
}

.older-posts {
    left: auto;
    right: 0
}

.site-footer {
    max-width: 500px;
    width: 90%;
    padding: 20px 0;
    font-size: 12px;
    line-height: 1.3
}

.site-footer p {
    margin: 0
}

.site-footer:before {
    margin-bottom: 20px
}

.go-to-top {
    background-image: url("../assets/go-to-top.png");
    width: 30px;
    height: 30px;
    position: fixed;
    bottom: 30px;
    left: 50%;
    -webkit-transform: translateX(400px);
    -moz-transform: translateX(400px);
    transform: translateX(400px);
    border: none;
    display: none;
    opacity: 0.8;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s
}

.go-to-top.show {
    display: block
}

.go-to-top.hide {
    display: none
}

.go-to-top.less-opacity {
    opacity: 0.2
}

.go-to-top:hover {
    opacity: 1
}

.post-list .post,
.pagination,
.site-footer,
.single-post .kg-card-markdown > h1,
.single-post .kg-card-markdown > h2,
.single-post .kg-card-markdown > h3,
.single-post .kg-card-markdown > h4,
.single-post .kg-card-markdown > h5,
.single-post .kg-card-markdown > h6,
.single-post .kg-card-markdown > p,
.single-post .kg-card-markdown > ul,
.single-post .kg-card-markdown > ol,
.single-post .kg-card-markdown > blockquote,
.single-post .kg-card-markdown .single-post-header,
.single-post .kg-card-markdown > table,
.single-post .kg-card-markdown > address,
.single-post .kg-card-markdown > article,
.single-post .kg-card-markdown > aside,
.single-post .kg-card-markdown > canvas,
.single-post .kg-card-markdown > dd,
.single-post .kg-card-markdown > dl,
.single-post .kg-card-markdown > fieldset,
.single-post .kg-card-markdown > figcaption,
.single-post .kg-card-markdown > figure,
.single-post .kg-card-markdown > footer,
.single-post .kg-card-markdown > form,
.single-post .kg-card-markdown > header,
.single-post .kg-card-markdown > hgroup,
.single-post .kg-card-markdown > li,
.single-post .kg-card-markdown > main,
.single-post .kg-card-markdown > nav,
.single-post .kg-card-markdown > noscript,
.single-post .kg-card-markdown > output,
.single-post .kg-card-markdown > section,
.single-post .kg-card-markdown > tfoot,
.single-post .kg-card-markdown > video,
.single-post .kg-card-markdown > iframe,
.single-post .kg-card-markdown > .tip,
.single-post .kg-card-markdown > .preface,
.read-next,
.load-comments {
    width: 90%;
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
    word-wrap: break-word
}

.single-post iframe {
    min-height: 300px
}

.load-comments {
    margin: 60px auto
}

.load-comments button {
    display: block;
    width: 100%;
    padding: 25px;
    background: none;
    color: #888888;
    border: 1px solid #eeeeee;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px
}

.comment-container {
    display: none
}

.comment-container p {
    margin: 20px 0;
    font-size: 1.4rem
}

.post-list .featured .post-header {
    padding: 0 10px;
    border-left: 5px solid #3A4145
}

.author-image .img {
    width: 100px;
    height: 100px;
    display: block;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    margin: auto;
    -moz-background-size: cover;
    background-size: cover;
    background-position: center
}

.single-post .post-content img,
.single-post .post-title,
.single-post .post-meta {
    max-width: 700px;
    width: 100%;
    margin: auto
}

.single-post .post-meta {
    margin: 20px auto 0
}

.single-post .post-header {
    width: 90%;
    margin-left: auto;
    margin-right: auto
}

.single-post .post-content:after {
    content: '';
    display: block;
    clear: both
}

.single-post .post-title {
    font-size: 5rem
}

.single-post .author-meta {
    border-bottom: none;
    border-top: none
}

.single-post .author-bio {
    color: #666;
    text-shadow: none;
    font-size: 1.4rem;
    max-width: 500px
}

.single-post .large {
    margin: 4rem 0
}

.single-post .large img {
    max-width: none
}

.single-post figure {
    position: relative;
    margin-bottom: 25px
}

.single-post figure.left figcaption,
.single-post figure.right figcaption,
.single-post figure.large figcaption {
    position: static;
    width: auto;
    text-align: center
}

.single-post figure.left figcaption:before,
.single-post figure.right figcaption:before,
.single-post figure.large figcaption:before {
    display: none
}

.single-post figure.left img,
.single-post figure.right img,
.single-post figure.large img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: none
}

.single-post figure.large {
    max-width: none;
    width: auto
}

.single-post figure.large img {
    width: 100%
}

.single-post figure.left {
    float: left;
    margin: 20px 20px 20px 0
}

.single-post figure.right {
    float: right;
    margin: 20px 0 20px 20px
}

.single-post figure img {
    display: block
}

.single-post figcaption {
    position: absolute;
    top: 0;
    right: 670px;
    font-style: italic;
    text-align: right;
    width: 180px;
    padding-top: 10px;
    line-height: 1.5;
    color: #999
}

.single-post figcaption:before {
    position: absolute;
    top: 0;
    right: 0;
    content: '';
    width: 30px;
    height: 3px;
    background: gray
}

.single-post img[src*='#right'],
.single-post img[src*='#left'] {
    width: auto;
    height: auto
}

.single-post img[src*='#right'] {
    float: right;
    margin: 0 0 10px 10px
}

.single-post img[src*='#left'] {
    float: left;
    margin: 0 10px 10px 0
}

.single-post .album {
    height: 400px;
    white-space: nowrap;
    background: rgba(250, 250, 250, 0.8);
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding: 20px;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    margin: 30px 0
}

.single-post .album img {
    display: inline-block;
    height: 100%;
    width: auto;
    border: 3px solid rgba(255, 255, 255, 0.5);
    -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    margin: 0 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer
}

.single-post .album figure {
    margin: 0 10px;
    width: auto;
    max-width: none;
    height: 100%;
    display: inline-block
}

.single-post .album figure img {
    margin: 0
}

.single-post .album figcaption {
    position: absolute;
    width: auto;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 20px 5px 5px;
    top: auto;
    color: #fff;
    text-align: center;
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.8)), to(transparent));
    background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.8) 0%, transparent 100%);
    background: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.8) 0%, transparent 100%);
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0%, transparent 100%)
}

.single-post .album figcaption:before {
    display: none
}

.single-post .center {
    text-align: center;
    margin: 20px auto
}

.single-post .center img {
    width: auto;
    max-width: 100%
}

.post-content img {
    cursor: pointer
}

.post-content a {
    text-decoration: underline
}

.post-content ol,
.post-content ul {
    padding-left: 3rem
}

.post-content ol ol,
.post-content ul ul,
.post-content ul ol,
.post-content ol ul {
    margin: 0 0 0.4em 0;
    padding-left: 2em
}

.post-content ol p,
.post-content ul p {
    width: 100%;
    margin-bottom: auto
}

.post-content .tip {
    padding: 12px 24px 12px 30px;
    margin: 2em 0;
    border-left: 4px solid #f66;
    background-color: #f8f8f8;
    position: relative;
    -webkit-border-bottom-right-radius: 2px;
    -moz-border-radius-bottomright: 2px;
    border-bottom-right-radius: 2px;
    -webkit-border-top-right-radius: 2px;
    -moz-border-radius-topright: 2px;
    border-top-right-radius: 2px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.post-content .tip:before {
    position: absolute;
    top: 14px;
    left: -12px;
    background-color: #f66;
    color: #fff;
    content: "!";
    width: 20px;
    height: 20px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    text-align: center;
    line-height: 20px;
    font-weight: bold;
    font-family: 'Dosis', 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
    font-size: 14px
}

.post-content .preface {
    font-family: 'Merriweather', FangSong, STFangsong, sans-serif;
    padding: 20px 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 30px;
    position: relative;
    font-size: 16px
}

.post-content .preface:before {
    content: '';
    display: block;
    position: absolute;
    width: 8px;
    height: 8px;
    background: white;
    border: 1px solid #eee;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    bottom: 16px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%)
}

.post-content .preface:after {
    content: '';
    display: block;
    width: 80%;
    height: 1px;
    background: #eee;
    margin: 40px auto 0
}

.ds-thread,
#disqus_thread {
    width: 90%;
    max-width: 650px;
    margin: auto
}

.fluid-width-video-wrapper {
    max-width: 650px;
    margin: auto;
    padding: 0
}

code,
pre {
    color: #525252;
    background: none;
    text-shadow: 0 1px white;
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    text-align: left;
    white-space: pre-wrap;
    word-spacing: normal;
    word-break: normal;
    word-wrap: break-word;
    line-height: 1.5;
    -moz-tab-size: 4;
    tab-size: 4;
    -moz-hyphens: none;
    hyphens: none
}

pre::-moz-selection,
pre ::-moz-selection,
code::-moz-selection,
code ::-moz-selection {
    text-shadow: none;
    background: #b3d4fc
}

pre::selection,
pre ::selection,
code::selection,
code ::selection {
    text-shadow: none;
    background: #b3d4fc
}

@media print {
    code,
    pre {
        text-shadow: none
    }
}

pre {
    padding: 1em;
    margin: 1em 0
}

pre code {
    display: block;
    width: 90%;
    max-width: 650px;
    margin: auto
}

:not(pre) > code,
pre {
    background: rgba(250, 250, 250, 0.8);
    border-top: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee
}

:not(pre) > code {
    -webkit-border-radius: .3em;
    -moz-border-radius: .3em;
    border-radius: .3em;
    white-space: normal;
    border: 1px solid #eeeeee;
    color: #b70000;
    padding: 3px 5px;
    font-size: 0.9em
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
    color: #999988;
    font-style: italic
}

.token.namespace {
    opacity: .7
}

.token.string,
.token.attr-value {
    color: #e3116c
}

.token.punctuation,
.token.operator {
    color: #393A34
}

.token.entity,
.token.url,
.token.symbol,
.token.number,
.token.boolean,
.token.variable,
.token.constant,
.token.property,
.token.regex,
.token.inserted {
    color: #36acaa
}

.token.atrule,
.token.keyword,
.token.attr-name,
.language-autohotkey .token.selector {
    color: #00a4db
}

.token.function,
.token.deleted,
.language-autohotkey .token.tag {
    color: #9a050f
}

.token.tag,
.token.selector,
.language-autohotkey .token.keyword {
    color: #00009f
}

.token.important,
.token.function,
.token.bold {
    font-weight: bold
}

.token.italic {
    font-style: italic
}

.author-profile {
    -moz-background-size: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 10rem
}

.author-image .img {
    border: 4px solid white
}

.author-info {
    text-align: center;
    margin: auto;
    background: rgba(255, 255, 255, 0.2);
    padding: 8rem 0 5rem
}

.author-info:after {
    margin-top: 40px
}

.author-title {
    font-size: 4rem;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.4);
    margin: 0 auto 1rem;
    color: white
}

.author-bio {
    font-size: 1.8rem;
    font-weight: normal;
    color: rgba(255, 255, 255, 0.9);
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.4);
    font-style: italic;
    margin: 0 auto
}

.author-title,
.author-bio {
    width: 90%;
    max-width: 600px
}

.author-meta {
    color: #9EABB3;
    font-size: 1.6rem;
    background: rgba(255, 255, 255, 0.9);
    list-style: none;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    display: -webkit-box;
    display: -moz-box;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    justify-content: center;
    padding: 0
}

.author-meta li {
    padding: 0 20px;
    margin: 14px 0 8px
}

.author-meta a {
    margin-top: 10px;
    color: #9EABB3;
    font-size: 25px
}

.author-meta a:hover {
    color: #86B81B;
    text-decoration: none
}

.read-next {
    display: -webkit-box;
    display: -moz-box;
    display: flex
}

.read-next a {
    width: 50%;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.4rem;
    white-space: nowrap;
    padding: 0 20px
}

.read-next .prev {
    text-align: left
}

.read-next .prev:before {
    content: '←';
    top: 0;
    left: 0;
    display: block;
    position: absolute
}

.read-next .next {
    text-align: right
}

.read-next .next:after {
    content: '→';
    top: 0;
    right: 0;
    display: block;
    position: absolute
}

@media only screen and (max-width: 1080px) {
    .single-post figcaption {
        position: static;
        width: auto;
        text-align: center
    }
    .go-to-top {
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        transform: translateX(0);
        right: 50px;
        left: auto
    }
}

@media only screen and (max-width: 780px) {
    blockquote {
        margin-left: 0
    }
    hr {
        margin: 2.4em 0
    }
    ol,
    ul {
        padding-left: 2em
    }
    h1 {
        font-size: 4.5rem;
        text-indent: -2px
    }
    h2 {
        font-size: 3.6rem
    }
    h3 {
        font-size: 3.1rem
    }
    h4 {
        font-size: 2.5rem
    }
    h5 {
        font-size: 2.2rem
    }
    h6 {
        font-size: 1.8rem
    }
    .single-post figcaption {
        position: static;
        width: auto;
        text-align: center
    }
    .single-post figcaption:before {
        display: none
    }
    .single-post .album {
        height: 250px
    }
    .single-post .post-title {
        font-size: 4rem
    }
    .go-to-top {
        right: 35px
    }
}

@media only screen and (max-width: 500px) {
    hr {
        margin: 1.75em 0
    }
    p,
    ul,
    ol,
    dl {
        font-size: 0.95em;
        margin: 0 0 2.5rem 0
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 0 0 0.3em 0
    }
    h1 {
        font-size: 2.8rem;
        letter-spacing: -1px
    }
    h2 {
        font-size: 2.4rem;
        letter-spacing: 0
    }
    h3 {
        font-size: 2.1rem
    }
    h4 {
        font-size: 1.9rem
    }
    h5 {
        font-size: 1.8rem
    }
    h6 {
        font-size: 1.8rem
    }
    body:not(.post-template) .post-title {
        font-size: 2.5rem
    }
    .single-post img[src*='#right'],
    .single-post img[src*='#left'] {
        margin: 0;
        float: none;
        width: 100%;
        height: auto
    }
    .single-post figure.left,
    .single-post figure.right,
    .single-post figure.large {
        margin: 0 0 10px 0;
        width: 100%
    }
    .single-post .album {
        height: 200px
    }
    .single-post .post-title {
        font-size: 3.4rem
    }
    .go-to-top {
        right: 10px;
        display: none !important
    }
    .author-profile {
        margin-bottom: 8rem
    }
    .author-info {
        padding: 3rem 0 1rem
    }
    .author-info .author-title {
        font-size: 2.8rem
    }
    .author-info .author-bio {
        font-size: 1.5rem
    }
}








/*! PhotoSwipe main CSS by Dmitry Semenov | photoswipe.com | MIT license */

.pswp {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    overflow: hidden;
    touch-action: none;
    z-index: 1500;
    -webkit-text-size-adjust: 100%;
    -webkit-backface-visibility: hidden;
    outline: none
}

.pswp * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.pswp img {
    max-width: none
}

.pswp--animate_opacity {
    opacity: 0.001;
    will-change: opacity;
    -webkit-transition: opacity 333ms cubic-bezier(0.4, 0, 0.22, 1);
    -moz-transition: opacity 333ms cubic-bezier(0.4, 0, 0.22, 1);
    transition: opacity 333ms cubic-bezier(0.4, 0, 0.22, 1)
}

.pswp--open {
    display: block
}

.pswp--zoom-allowed .pswp__img {
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;
    cursor: zoom-in
}

.pswp--zoomed-in .pswp__img {
    cursor: -webkit-grab;
    cursor: -moz-grab;
    cursor: grab
}

.pswp--dragging .pswp__img {
    cursor: -webkit-grabbing;
    cursor: -moz-grabbing;
    cursor: grabbing
}

.pswp__bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0;
    -webkit-backface-visibility: hidden;
    will-change: opacity
}

.pswp__scroll-wrap {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden
}

.pswp__container,
.pswp__zoom-wrap {
    touch-action: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0
}

.pswp__container,
.pswp__img {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none
}

.pswp__zoom-wrap {
    position: absolute;
    width: 100%;
    -webkit-transform-origin: left top;
    -moz-transform-origin: left top;
    transform-origin: left top;
    -webkit-transition: -webkit-transform 333ms cubic-bezier(0.4, 0, 0.22, 1);
    transition: -webkit-transform 333ms cubic-bezier(0.4, 0, 0.22, 1);
    -moz-transition: transform 333ms cubic-bezier(0.4, 0, 0.22, 1), -moz-transform 333ms cubic-bezier(0.4, 0, 0.22, 1);
    transition: transform 333ms cubic-bezier(0.4, 0, 0.22, 1);
    transition: transform 333ms cubic-bezier(0.4, 0, 0.22, 1), -webkit-transform 333ms cubic-bezier(0.4, 0, 0.22, 1), -moz-transform 333ms cubic-bezier(0.4, 0, 0.22, 1)
}

.pswp__bg {
    will-change: opacity;
    -webkit-transition: opacity 333ms cubic-bezier(0.4, 0, 0.22, 1);
    -moz-transition: opacity 333ms cubic-bezier(0.4, 0, 0.22, 1);
    transition: opacity 333ms cubic-bezier(0.4, 0, 0.22, 1)
}

.pswp--animated-in .pswp__bg,
.pswp--animated-in .pswp__zoom-wrap {
    -webkit-transition: none;
    -moz-transition: none;
    transition: none
}

.pswp__container,
.pswp__zoom-wrap {
    -webkit-backface-visibility: hidden
}

.pswp__item {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden
}

.pswp__img {
    position: absolute;
    width: auto;
    height: auto;
    top: 0;
    left: 0
}

.pswp__img--placeholder {
    -webkit-backface-visibility: hidden
}

.pswp__img--placeholder--blank {
    background: #222
}

.pswp--ie .pswp__img {
    width: 100% !important;
    height: auto !important;
    left: 0;
    top: 0
}

.pswp__error-msg {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 14px;
    line-height: 16px;
    margin-top: -8px;
    color: #CCC
}

.pswp__error-msg a {
    color: #CCC;
    text-decoration: underline
}








/*! PhotoSwipe Default UI CSS by Dmitry Semenov | photoswipe.com | MIT license */

.pswp__button {
    width: 44px;
    height: 44px;
    position: relative;
    background: none;
    cursor: pointer;
    overflow: visible;
    -webkit-appearance: none;
    display: block;
    border: 0;
    padding: 0;
    margin: 0;
    float: right;
    opacity: 0.75;
    -webkit-transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    transition: opacity 0.2s;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none
}

.pswp__button:focus,
.pswp__button:hover {
    opacity: 1
}

.pswp__button:active {
    outline: none;
    opacity: 0.9
}

.pswp__button::-moz-focus-inner {
    padding: 0;
    border: 0
}

.pswp__ui--over-close .pswp__button--close {
    opacity: 1
}

.pswp__button,
.pswp__button--arrow--left:before,
.pswp__button--arrow--right:before {
    background: url(../assets/default-skin.png) 0 0 no-repeat;
    -moz-background-size: 264px 88px;
    background-size: 264px 88px;
    width: 44px;
    height: 44px
}

@media (-webkit-min-device-pixel-ratio: 1.1),
(-webkit-min-device-pixel-ratio: 1.09375),
(min-resolution: 105dpi),
(min-resolution: 1.1dppx) {
    .pswp--svg .pswp__button,
    .pswp--svg .pswp__button--arrow--left:before,
    .pswp--svg .pswp__button--arrow--right:before {
        background-image: url(../assets/default-skin.svg)
    }
    .pswp--svg .pswp__button--arrow--left,
    .pswp--svg .pswp__button--arrow--right {
        background: none
    }
}

.pswp__button--close {
    background-position: 0 -44px
}

.pswp__button--share {
    background-position: -44px -44px
}

.pswp__button--fs {
    display: none
}

.pswp--supports-fs .pswp__button--fs {
    display: block
}

.pswp--fs .pswp__button--fs {
    background-position: -44px 0
}

.pswp__button--zoom {
    display: none;
    background-position: -88px 0
}

.pswp--zoom-allowed .pswp__button--zoom {
    display: block
}

.pswp--zoomed-in .pswp__button--zoom {
    background-position: -132px 0
}

.pswp--touch .pswp__button--arrow--left,
.pswp--touch .pswp__button--arrow--right {
    visibility: hidden
}

.pswp__button--arrow--left,
.pswp__button--arrow--right {
    background: none;
    top: 50%;
    margin-top: -50px;
    width: 70px;
    height: 100px;
    position: absolute
}

.pswp__button--arrow--left {
    left: 0
}

.pswp__button--arrow--right {
    right: 0
}

.pswp__button--arrow--left:before,
.pswp__button--arrow--right:before {
    content: '';
    top: 35px;
    background-color: rgba(0, 0, 0, 0.3);
    height: 30px;
    width: 32px;
    position: absolute
}

.pswp__button--arrow--left:before {
    left: 6px;
    background-position: -138px -44px
}

.pswp__button--arrow--right:before {
    right: 6px;
    background-position: -94px -44px
}

.pswp__counter,
.pswp__share-modal {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none
}

.pswp__share-modal {
    display: block;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 10px;
    position: absolute;
    z-index: 1600;
    opacity: 0;
    -webkit-transition: opacity 0.25s ease-out;
    -moz-transition: opacity 0.25s ease-out;
    transition: opacity 0.25s ease-out;
    -webkit-backface-visibility: hidden;
    will-change: opacity
}

.pswp__share-modal--hidden {
    display: none
}

.pswp__share-tooltip {
    z-index: 1620;
    position: absolute;
    background: #FFF;
    top: 56px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    display: block;
    width: auto;
    right: 44px;
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
    -webkit-transform: translateY(6px);
    -moz-transform: translateY(6px);
    transform: translateY(6px);
    -webkit-transition: -webkit-transform 0.25s;
    transition: -webkit-transform 0.25s;
    -moz-transition: transform 0.25s, -moz-transform 0.25s;
    transition: transform 0.25s;
    transition: transform 0.25s, -webkit-transform 0.25s, -moz-transform 0.25s;
    -webkit-backface-visibility: hidden;
    will-change: transform
}

.pswp__share-tooltip a {
    display: block;
    padding: 8px 12px;
    color: #000;
    text-decoration: none;
    font-size: 14px;
    line-height: 18px
}

.pswp__share-tooltip a:hover {
    text-decoration: none;
    color: #000
}

.pswp__share-tooltip a:first-child {
    -webkit-border-radius: 2px 2px 0 0;
    -moz-border-radius: 2px 2px 0 0;
    border-radius: 2px 2px 0 0
}

.pswp__share-tooltip a:last-child {
    -webkit-border-radius: 0 0 2px 2px;
    -moz-border-radius: 0 0 2px 2px;
    border-radius: 0 0 2px 2px
}

.pswp__share-modal--fade-in {
    opacity: 1
}

.pswp__share-modal--fade-in .pswp__share-tooltip {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    transform: translateY(0)
}

.pswp--touch .pswp__share-tooltip a {
    padding: 16px 12px
}

a.pswp__share--facebook:before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    top: -12px;
    right: 15px;
    border: 6px solid transparent;
    border-bottom-color: #FFF;
    -webkit-pointer-events: none;
    -moz-pointer-events: none;
    pointer-events: none
}

a.pswp__share--facebook:hover {
    background: #3E5C9A;
    color: #FFF
}

a.pswp__share--facebook:hover:before {
    border-bottom-color: #3E5C9A
}

a.pswp__share--twitter:hover {
    background: #55ACEE;
    color: #FFF
}

a.pswp__share--pinterest:hover {
    background: #CCC;
    color: #CE272D
}

a.pswp__share--download:hover {
    background: #DDD
}

.pswp__counter {
    position: absolute;
    left: 0;
    top: 0;
    height: 44px;
    font-size: 13px;
    line-height: 44px;
    color: #FFF;
    opacity: 0.75;
    padding: 0 10px
}

.pswp__caption {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    min-height: 44px
}

.pswp__caption small {
    font-size: 11px;
    color: #BBB
}

.pswp__caption__center {
    text-align: left;
    max-width: 420px;
    margin: 0 auto;
    font-size: 13px;
    padding: 10px;
    line-height: 20px;
    color: #CCC
}

.pswp__caption--empty {
    display: none
}

.pswp__caption--fake {
    visibility: hidden
}

.pswp__preloader {
    width: 44px;
    height: 44px;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -22px;
    opacity: 0;
    -webkit-transition: opacity 0.25s ease-out;
    -moz-transition: opacity 0.25s ease-out;
    transition: opacity 0.25s ease-out;
    will-change: opacity;
    direction: ltr
}

.pswp__preloader__icn {
    width: 20px;
    height: 20px;
    margin: 12px
}

.pswp__preloader--active {
    opacity: 1
}

.pswp__preloader--active .pswp__preloader__icn {
    background: url(../assets/preloader.gif) 0 0 no-repeat
}

.pswp--css_animation .pswp__preloader--active {
    opacity: 1
}

.pswp--css_animation .pswp__preloader--active .pswp__preloader__icn {
    -webkit-animation: clockwise 500ms linear infinite;
    -moz-animation: clockwise 500ms linear infinite;
    animation: clockwise 500ms linear infinite
}

.pswp--css_animation .pswp__preloader--active .pswp__preloader__donut {
    -webkit-animation: donut-rotate 1000ms cubic-bezier(0.4, 0, 0.22, 1) infinite;
    -moz-animation: donut-rotate 1000ms cubic-bezier(0.4, 0, 0.22, 1) infinite;
    animation: donut-rotate 1000ms cubic-bezier(0.4, 0, 0.22, 1) infinite
}

.pswp--css_animation .pswp__preloader__icn {
    background: none;
    opacity: 0.75;
    width: 14px;
    height: 14px;
    position: absolute;
    left: 15px;
    top: 15px;
    margin: 0
}

.pswp--css_animation .pswp__preloader__cut {
    position: relative;
    width: 7px;
    height: 14px;
    overflow: hidden
}

.pswp--css_animation .pswp__preloader__donut {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 14px;
    height: 14px;
    border: 2px solid #FFF;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border-left-color: transparent;
    border-bottom-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    background: none;
    margin: 0
}

@media screen and (max-width: 1024px) {
    .pswp__preloader {
        position: relative;
        left: auto;
        top: auto;
        margin: 0;
        float: right
    }
}

@-webkit-keyframes clockwise {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@-moz-keyframes clockwise {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@keyframes clockwise {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@-webkit-keyframes donut-rotate {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
    50% {
        -webkit-transform: rotate(-140deg);
        transform: rotate(-140deg)
    }
    100% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
}

@-moz-keyframes donut-rotate {
    0% {
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        transform: rotate(0)
    }
    50% {
        -webkit-transform: rotate(-140deg);
        -moz-transform: rotate(-140deg);
        transform: rotate(-140deg)
    }
    100% {
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        transform: rotate(0)
    }
}

@keyframes donut-rotate {
    0% {
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        transform: rotate(0)
    }
    50% {
        -webkit-transform: rotate(-140deg);
        -moz-transform: rotate(-140deg);
        transform: rotate(-140deg)
    }
    100% {
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        transform: rotate(0)
    }
}

.pswp__ui {
    -webkit-font-smoothing: auto;
    visibility: visible;
    opacity: 1;
    z-index: 1550
}

.pswp__top-bar {
    position: absolute;
    left: 0;
    top: 0;
    height: 44px;
    width: 100%
}

.pswp__caption,
.pswp__top-bar,
.pswp--has_mouse .pswp__button--arrow--left,
.pswp--has_mouse .pswp__button--arrow--right {
    -webkit-backface-visibility: hidden;
    will-change: opacity;
    -webkit-transition: opacity 333ms cubic-bezier(0.4, 0, 0.22, 1);
    -moz-transition: opacity 333ms cubic-bezier(0.4, 0, 0.22, 1);
    transition: opacity 333ms cubic-bezier(0.4, 0, 0.22, 1)
}

.pswp--has_mouse .pswp__button--arrow--left,
.pswp--has_mouse .pswp__button--arrow--right {
    visibility: visible
}

.pswp__top-bar,
.pswp__caption {
    background-color: rgba(0, 0, 0, 0.5)
}

.pswp__ui--fit .pswp__top-bar,
.pswp__ui--fit .pswp__caption {
    background-color: rgba(0, 0, 0, 0.3)
}

.pswp__ui--idle .pswp__top-bar {
    opacity: 0
}

.pswp__ui--idle .pswp__button--arrow--left,
.pswp__ui--idle .pswp__button--arrow--right {
    opacity: 0
}

.pswp__ui--hidden .pswp__top-bar,
.pswp__ui--hidden .pswp__caption,
.pswp__ui--hidden .pswp__button--arrow--left,
.pswp__ui--hidden .pswp__button--arrow--right {
    opacity: 0.001
}

.pswp__ui--one-slide .pswp__button--arrow--left,
.pswp__ui--one-slide .pswp__button--arrow--right,
.pswp__ui--one-slide .pswp__counter {
    display: none
}

.pswp__element--disabled {
    display: none !important
}

.pswp--minimal--dark .pswp__top-bar {
    background: none
}
