$color-selection: #D6EDFF;


$color-text-normal: #3A4145;

$color-text-header: #2E2E2E;

$color-text-link: #4A4A4A;
$color-text-link-hover: #111;

$color-hr: #EFEFEF;

$color-quote-border: #4A4A4A;

$color-mark: #fdffb6;

$color-kbd-color: #242729;
$color-kbd-bg: #e1e3e5;
$color-kbd-bd: #adb3b9;

$color-table-bd: #EFEFEF;
$color-table-head-bg: #F6F6F6;

$color-white: #ffffff;
$color-black: #000000;
