:root {
  --color-primary: #ee5253;
  --color-background: #ffffff;
}

$breakpoints: (
  'sm': 'only screen and (max-width: 768px)',
  'md': 'only screen and (min-width: 769px)',
  'lg': 'only screen and (min-width: 1200px)',
) !default;