.feed-item
    .feed-item-content
        display: flex;
        height: 60px;
        align-items: center;
        font-size: 18px;
        padding: 0 20px;
        .meta
            width: 140px;
            color: #999999;
        h2.title
            flex: 1;
            color: #303030;