{{!< default}}

<div class="container">
  {{> "site-header"}}
  <div class="notice">
    <a href="https://github.com/moegi-design/ghost-theme-Moegi">Moegi Theme 2</a> 正在本博客调试，您可以在这里看到 Moegi 2 的最新进展。Moegi 2 仍然还有很多不完善的地方，如有问题欢迎 <a href="https://github.com/moegi-design/ghost-theme-Moegi/issues">提出issue</a>。
  </div>

  <main role="main">
    {{> "loop" }}
  </main>
</div>
