.kg-image {
  margin-right: auto;
  margin-left: auto;
}

.kg-embed-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.kg-card.kg-toggle-card .kg-toggle-heading-text {
  font-size: 1.8rem;
  font-weight: 700;
}

.has-serif-title .kg-toggle-card .kg-toggle-heading-text {
  font-family: var(--font-serif);
}

.kg-callout-card-accent a {
  text-decoration: underline;
}

blockquote.kg-blockquote-alt {
  font-style: normal;
  line-height: 1.5;
  color: var(--secondary-text-color);
}

.has-serif-title .kg-card.kg-header-card h2.kg-header-card-header {
  font-family: var(--font-serif);
}

.has-serif-body .kg-header-card h3.kg-header-card-subheader {
  font-family: var(--font-serif);
}

.kg-canvas {
  display: grid;
  grid-template-columns:
      [full-start]
      minmax(4vw, auto)
      [wide-start]
      minmax(auto, 105px)
      [main-start]
      min(750px, calc(100% - 8vw))
      [main-end]
      minmax(auto, 105px)
      [wide-end]
      minmax(4vw, auto)
      [full-end];
}

.kg-canvas > * {
  grid-column: main-start/main-end;
}

.kg-width-wide {
  grid-column: wide-start/wide-end;
}

.kg-width-full {
  grid-column: full-start/full-end;
}

.kg-gallery-container {
  display: none;
}
.kg-gallery-row {
  display: none;
}
.kg-gallery-image {
  display: none;
}
.kg-bookmark-card {
  display: none;
}
.kg-bookmark-container {
  display: none;
}
.kg-bookmark-content {
  display: none;
}
.kg-bookmark-title {
  display: none;
}
.kg-bookmark-description {
  display: none;
}
.kg-bookmark-metadata {
  display: none;
}
.kg-bookmark-icon {
  display: none;
}
.kg-bookmark-author {
  display: none;
}
.kg-bookmark-publisher {
  display: none;
}
.kg-bookmark-thumbnail {
  display: none;
}