{{!< default}}

{{> "site-header"}}

<main role="main">
  <article class="{{post_class}}">
    {{#post}}
      <h1>
        {{{title}}}
      </h1>
      <section>
        {{content}}
      </section>
    {{/post}}
  </article>
</main>
