@import 'prism-theme-vars/base.css';

:root {
  --prism-foreground: #111827;
  --prism-background: #f9f9f9;
  --prism-comment: #a0ada0;
  --prism-string: #b56959;
  --prism-literal: #2f8a89;
  --prism-keyword: #1c6b48;
  --prism-function: #6c7834;
  --prism-deleted: #a14f55;
  --prism-class: #2993a3;
  --prism-builtin: #ab5959;
  --prism-property: #b58451;
  --prism-namespace: #b05a78;
  --prism-punctuation: #8e8f8b;
  --prism-decorator: #bd8f8f;
  --prism-number: #296aa3;
  --prism-boolean: #1c6b48;
  --prism-constant: #a65e2b;
  --prism-regex: #ab5e3f;
  --prism-json-property: #698c96;
  --prism-font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --prism-font-size: inherit;
  --prism-block-font-size: 0.875em;
  --prism-line-height: 1.71;
  --prism-tab-size: 4;
  --prism-block-padding-x: 1.14em;
  --prism-block-padding-y: 0.86em;
  --prism-block-margin-x: 0;
  --prism-block-margin-y: 1.71em;
  --prism-block-radius: 0.375em;
}